apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: todo
        image: tejaswaroop29/todo:latest
        ports:
        - containerPort: 5000
---
kind: Service
apiVersion: v1
metadata:
  name: todo-service
spec:
  type: NodePort
  selector:
    app: todo
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30007
